<div class="row">
    <div class="col-12">
        <h1>Create a deal</h1>

        <div class="col-12">
            <form action="/createDeal" method="POST">
                <span>Avocados</span>
                <input type="text" name="id">Shop_id
                <input type="text" name="qty">Quantity
                <input type="text" name="price">Price
                <button type="submit">submit</button>
            </form>
        </div>

    </div>
</div>