<div class="row">
    <div class="col-12">
        <label for="shops"><strong>Choose a Shop:</strong></label>
        <br>
        <br>
        {{#each shopList}}
        <ul>
            <a href="{{name}}">
                <li>{{name}}</li>
            </a>
        </ul>
        {{/each}}
    </div>
    <br>
    <br>
    <form action="/home" method="POST">
        <button type="submit">Home</button>
    </form>
</div>