body {
	background-color: lightseagreen;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	margin: auto;
	width: 80%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}
  a:visited {
    color: green;
    text-decoration: none;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }